#floater{
	 position:absolute;
            left:0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          
}
#content
{
	width: 600px;
	height: 300px;
	 position:absolute;
            left:0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;  
}
h1
{
	text-align: center;
}
label
{
	display: inline-block;
	padding: 3px 4px;
	text-align: right;
	vertical-align:top;
	width:180px;
}
