body
{
	background-image: url(../img/background3.jpg);
}
h1,h2
{
	text-align: center;
}
#main
{
	margin: auto;
	width: 35%;
	height: 100%;
	background-color: gainsboro;
}
.list1
{
	margin-left: 150px;
}
.list2
{
	margin-left: 80px;
}
table
{
	margin-left: 100px;;
}
#select
{
	margin-left: 300px;
	margin-top: 50px;
	background-color:darkgrey;
	border: 1px dimgrey solid;
	width:200px;
	height: 30px;
	border-radius: 10px;
}
